<!DOCTYPE html>
<html>
<head>
    <title>Danielle</title>
    <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-1.7.1.js') }}"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
